[2019-10-01 22:44] horacioh opened #4 "Spanish Translation Progress"
# 🚨 Please Read this before contributing 🚨

## Maintainer List
@Darking360
@horacioh
@nucliweb

## For New Translators

To translate a page:

1. Check that no one else has claimed your page in the checklist and comments below. Do not create new issues claiming for new work please, let's keep everything here. If you already have an issue opened, please close it after your PR gets merged 🎉. Thanks!

[2019-10-02 01:39] Darking360 opened #7 "Create a glossary of common translations and style guide"
# 🚨 Create a glossary of common translations and style guide

## Motivation

To keep all the translations on the same page, we need to make sure that we use a neutral Spanish and that we use common words for the translations, for example, some people could translate "library" as "libreria" or to "biblioteca", we need to make a consensus on these translations and write them down in an easy accessib

[2019-10-02 09:10] horacioh commented on #7
related PR: #6

[2019-10-02 10:41] s-Hale commented on #4
Can I take 'community-contributions'? thanks.

[2019-10-02 12:45] jose4125 commented on #4
I can take 'how-to-file-an-issue.md', thanks

[2019-10-02 14:33] Darking360 commented on #4
@s-Hale @jose4125 Hey! Thank you for jumping in, you have those assigned to you 🚀 We're still working on the glossary of terms and the style guide for this, but you can start translating and we can check in the PR how it went, try to use neutral Spanish and don't add or remove lines from the document 👍 Thanks! 🎖

[2019-10-02 14:50] s-Hale commented on #4
@Darking360 Apologies, I meant to create a branch for the new PR but have accidentally pushed it up to the old one (it now contains 3). Would it be best, going forward, to create a branch for each article?

[2019-10-02 15:08] Darking360 commented on #4
@s-Hale No problem, the idea would be to have one PR per page, because it's easier to prioritize and to review one by one, but it's ok since it's the beginning, just make sure to open separate ones in the future 💪

[2019-10-02 16:01] jose4125 commented on #4
I'm going to take another one :),  why-contribute-to-gatsby.md

[2019-10-02 19:27] horacioh commented on #4
you got it @jose4125 ! :)

[2019-10-03 08:01] YzahFe commented on #4
Can I take 'how-to-label-an-issue'? Thank you

[2019-10-03 08:31] horacioh commented on #4
done @YzahFe! :)

[2019-10-03 12:07] YzahFe commented on #4
Can I take another one?  'how-to-pitch-gatsby.md'

[2019-10-03 12:08] YzahFe commented on #4
I'm done with the first one  'how-to-label-an-issue'

[2019-10-03 14:04] Darking360 commented on #4
@YzahFe You got them 🚀

[2019-10-03 19:30] jose4125 commented on #4
I'm going to take contributor-swag.md

[2019-10-03 20:02] Darking360 commented on #4
Sure, go for it @jose4125 💪

[2019-10-04 00:10] gusma commented on #4
Can I take how-to-open-a-pull-request.md? Thanks!

[2019-10-04 00:32] horacioh commented on #4
go for it @gusma!!

[2019-10-04 05:10] YzahFe commented on #4
I'm going to take pair-programming.md. Thank you

[2019-10-04 05:15] gusma commented on #4
Also will be taking on where-to-participate.md if that's ok with you.

[2019-10-04 05:51] JanLawrence commented on #4
Hi can I take 'eslint.md'? Thank you

[2019-10-04 06:18] horacioh commented on #4
@YzahFe @gusma @JanLawrence there you go! 👍

[2019-10-04 06:35] YzahFe commented on #4
I'll going to take 'docs/docs/mdx/index.md'

[2019-10-04 21:39] imagentleman commented on #4
I'd like to take organize-a-gatsby-event.md

[2019-10-04 21:44] Darking360 commented on #4
@YzahFe @imagentleman You got them! Please remember to only pick one at a time :muscle:

[2019-10-05 00:09] YzahFe commented on #4
Hi I've already translated pair-programming.md & docs/docs/mdx/index.md yesterday, can I take docs/docs/themes/what-are-gatsby-themes.md ?

Thank you

[2019-10-05 04:46] jmay4826 commented on #4
Could I take docs/docs/mdx/getting-started.md?

[2019-10-05 16:23] gusma commented on #4
I'll be taking on  how-to-run-a-gatsby-workshop.md if that's ok with you.

[2019-10-05 16:42] Darking360 commented on #4
@YzahFe @jmay4826 @gusma Greetings! You have them, go for it :fire:

[2019-10-05 17:16] zombispormedio commented on #4
I would be interested to translate stuff about CSS-in-JS (emotion, styled-components, theme-ui). Could I start with `docs/css-in-js.md`?

[2019-10-05 19:48] xmartinezpujol commented on #4
Hi there! 👋

Can I take `docs/accessibility-statement.md` ?

[2019-10-06 02:21] dosden commented on #4
Hello, can I get docs/docs/themes/theme-composition.md? Thanks

[2019-10-06 03:14] JanLawrence commented on #4
Hi, can i take using-multiple-gatsby-themes.md? Thank you

[2019-10-06 08:24] horacioh commented on #4
@JanLawrence @dosden @xmartinezpujol @zombispormedio you all are set! :)

[2019-10-06 16:39] piraces commented on #4
Hi, can I get docs/docs/add-404-page.md ? Thank you.

[2019-10-07 02:04] Nievac commented on #4
Hi, can I take ```docs/docs/custom-html.md```?

[2019-10-07 06:14] xmartinezpujol commented on #4
I will work on `docs/tutorials/blog-netlify-cms-tutorial`

[2019-10-07 09:16] JanLawrence commented on #4
Hi, I just finished translating `docs/docs/themes/using-multiple-gatsby-themes.md`, can I take another file `docs/docs/mdx/plugins.md`?

[2019-10-07 13:08] Darking360 commented on #4
@JanLawrence @xmartinezpujol You got them! Go for it 💪

[2019-10-07 16:21] jose4125 commented on #4
I'm going to take setting-up-your-local-dev-environment.md

[2019-10-07 17:48] Darking360 commented on #4
@jose4125 Go for it 🚗

[2019-10-07 19:14] piraces commented on #4
I'm going to take docs/docs/add-a-manifest-file.md 😃

[2019-10-07 19:21] Darking360 commented on #4
@piraces You got it 🤘

[2019-10-08 01:20] Nievac commented on #4
Hi, I am done with ```docs/docs/custom-html.md```.

Can I take ```docs/docs/typography-js.md```?

[2019-10-08 03:03] alvaromontoro commented on #4
Hi! Can I get `add-a-service-worker.md`?

[2019-10-08 13:14] Darking360 commented on #4
Greetings @alvaromontoro @Nievac You got them, feel free to start those 🚀

[2019-10-08 14:39] MdHanif01 commented on #4
Can i take theme-tutorials.md ?

[2019-10-08 18:21] piraces commented on #4
Can i take docs/contributing/blog-and-website-contributions.md ? Thanks.

[2019-10-08 19:53] horacioh commented on #4
@MdHanif01 @piraces go for it!!

[2019-10-09 00:15] hielfx commented on #4
can I take tutorial part-three

[2019-10-09 08:13] zombispormedio commented on #4
can I take ```docs/emotion.md```?

[2019-10-09 10:35] m1guelpf commented on #4
can I take `site-showcase-submissions.md`?

[2019-10-09 16:28] kbravh commented on #4
I can start off with contributing/how-to-write-a-stub.md!

[2019-10-09 16:35] gusma commented on #4
I'll be starting off faster-recruiting.md if that's ok with you.

[2019-10-09 18:00] alvaromontoro commented on #4
Can I start `add-custom-webpack-config.md` while waiting for the approval of the other one?

[2019-10-09 18:20] Darking360 commented on #4
Hey, people @hielfx @zombispormedio @m1guelpf @kbravh @gusma @alvaromontoro You got them, sorry for the delay on reviews we were working on some official documentation on how to get started with the translations, go for it and really thank you! :rocket: :pray:

[2019-10-09 19:36] MdHanif01 commented on #4
Hi I am done with theme-tutorials.md

Can i get using-multiple-themes-together.md

[2019-10-09 19:46] MdHanif01 commented on #4
Translated Theme-Tutorials.md [#41 ](url)

[2019-10-09 19:47] kbravh commented on #4
I've wrapped up contributing/how-to-write-a-stub.md #42 .
I can pick up contributing/community.md.

[2019-10-09 19:49] MdHanif01 commented on #4
Translated Theme-Tutorials.md  #41

[2019-10-09 21:06] horacioh commented on #4
@kbravh @MdHanif01 go for it!!

sorry about the delay on reviews! 🙏
you all are AWESOME and there are a lot of translations going on lately! :)

thanks again and hopefully we will keep up soon! ;)

[2019-10-09 22:07] elpuas commented on #4
can I start with `add-offline-support-with-a-service-worker.md`

[2019-10-10 00:57] kbravh commented on #4
I've finished up community.md! #43

[2019-10-10 01:15] dosden commented on #4
Hi I'm going to take 'docs/docs/add-a-manifest-file.md'

Thank you

[2019-10-10 01:18] dosden commented on #4
Hi I'm going to take 'add-page-metadata.md'

Thank you

[2019-10-10 02:16] nicodelpiano commented on #4
Hi! I'm going to take `build-caching.md`!

Thanks!

[2019-10-10 15:41] urielhdz commented on #4
Hey! I would like to take the `upgrade-gatsby-and-dependencies.md` reference guide :)

[2019-10-10 17:12] gusma commented on #4
I'll be taking on  working-with-gifs.md if that's ok.

[2019-10-10 17:27] gusma commented on #4
Done with `working-with-gifs.md`. #47

[2019-10-10 19:10] hielfx commented on #4
@horacioh @Darking360 done with https://github.com/gatsbyjs/gatsby-es/pull/48

[2019-10-10 19:29] MdHanif01 commented on #4
Done with #49

[2019-10-10 19:49] MdHanif01 commented on #4
Can i take conceptual-guide.md ?

Done with #49

[2019-10-10 20:00] xmartinezpujol commented on #4
#36 ready to go  🚀
Can I take `docs/contributing/code-contributions.md` ?

[2019-10-10 21:23] horacioh commented on #4
@elpuas @urielhdz @nicodelpiano @dosden @urielhdz @MdHanif01 @gusma
you are all set!!

PLEASE!! WE NEED HELP! 🙏
if some of you are willing to curate content, please reach us via the GatsbyJS Discord channel to either @Darking360 or myself (there's a special channel for the spanish translations)

we are only two people, with fulltime jobs and you all are great and we are not keeping up with all you

[2019-10-10 22:12] MdHanif01 commented on #4
@horacioh @Darking360
Can i take Debugging.md ?

Done with #52

[2019-10-10 22:16] rubenLozanoMar commented on #4
Can I do part-four?

[2019-10-10 22:19] nacapulque commented on #4
can I take ecommerce-tutorial?

thanks!

[2019-10-10 23:00] hielfx commented on #4
Can I take `code-of-conduct.md`?

[2019-10-10 23:08] WerikG commented on #4
@horacioh @Darking360
Can i take  docs/docs  reach-router-and-gatsby.md ?

[2019-10-11 00:07] meyruiz commented on #4
@horacioh @Darking360
Can I take docs/docs adding-comments.md ?

[2019-10-11 01:56] alvaromontoro commented on #4
I wrapped `add-custom-webpack-config.md` in #54

Can I take `add-seo-component.md`?

[2019-10-11 02:59] jorgeruvalcaba commented on #4
@horacioh @Darking360 can I take `ecommerce-tutorial`?

[2019-10-11 05:12] xmartinezpujol commented on #4
I'll be glad to help, I will contact you in a few days.
I plan to be in the GatsbyJS community for a while as I will be using it for freelance projects.
For that reason I will be more than happy to keep contributing to help the community grow  🚀.

Good work everyone! 👏

[2019-10-11 05:16] EduardoGHdez commented on #4
Can I take `babel.md`?

[2019-10-11 05:50] jatempa commented on #4
Can I take docs/tutorials **part three**?

[2019-10-11 17:08] enBonnet opened #58 "Typo on CONTRIBUTING.MD"
On line 11
Can see `Sbemos` must be `Sabemos`

[2019-10-11 17:10] enBonnet commented on #58
@horacioh  @Darking360 can i take this case?

[2019-10-11 17:12] enBonnet commented on #58
Same file on line 25 `exitamos` must be `evitamos`

[2019-10-11 18:00] enBonnet commented on #4
Can i take `seo.md` ? @horacioh @Darking360 if it's done, could you tell me wich one?

[2019-10-11 19:43] Darking360 commented on #58
Hey, @enBonnet muchas gracias por notarlos, podrías abrir un PR con esos cambios y le podemos hacer merge? :heart:

[2019-10-11 19:53] imagentleman commented on #4
I'd like to take themes.md

[2019-10-11 20:11] rodrigobustamante commented on #4
Can i take `using-an-online-dev-environment.md`? @horacioh @Darking360

[2019-10-11 20:51] Darking360 commented on #58
Resuelto en: https://github.com/gatsbyjs/gatsby-es/pull/59

[2019-10-11 20:51] #58 closed

[2019-10-11 21:05] jorgeruvalcaba commented on #7
Can we have a separate file to add more terms to the list?

[2019-10-11 22:02] gusma commented on #4
I'll be taking `visual-testing-with-storybook.md` if that's ok with everyone.

[2019-10-11 22:17] horacioh commented on #7
siempre puedes hacer una PR al glosario @jorgeruvalcaba ;)

[2019-10-11 23:47] RockLee444 commented on #4
Can I take "Home Page"? Thank you!

[2019-10-12 01:33] jorgeruvalcaba commented on #7
Excelente! añadiré algunos términos en un momento.

[2019-10-12 02:58] EduardoGHdez commented on #4
I'll take `graphql.md` 🙌

[2019-10-12 09:37] JuanJavier1979 commented on #4
Can I take gatsby-image-tutorial? @horacioh @Darking360

[2019-10-12 15:54] zombispormedio commented on #4
can I take docs/styled-components.md?

[2019-10-12 18:45] MdHanif01 commented on #4
Hey there @horacioh @Darking360

Can i take Debugging.md ?

already done with #52

[2019-10-12 20:18] gusma commented on #4
Undertook convincing-others.md. #69

[2019-10-12 21:50] ClauVex commented on #4
Greetings @horacioh @Darking360 :)
I would like to translate building-themes.md
Thanks!

[2019-10-13 12:08] tairosonloa commented on #4
I'll help a little too. I use Gatsby a lot and documentation is one of the pillars of free software. I'll start with `docs/tutorial/using-a-theme.md` and I'll update this comment later if I pick another one when finished.

Contributing:
- `docs/tutorial/using-a-theme.md`  (in progress)

[2019-10-13 18:02] rodrigobustamante commented on #4
I can translate `docs/docs/adding-an-rss-feed.md` file!

[2019-10-14 15:05] gusma commented on #4
I'll be undertaking `docs/docs/upgrading-node-js.md`.

[2019-10-14 23:23] jatempa commented on #4
Done #71

[2019-10-14 23:23] jatempa commented on #4
May I translate part-four?  @horacioh o @Darking360

[2019-10-15 00:06] enBonnet commented on #4
Puedo traducir building-themes.md ? @horacioh o @Darking360

[2019-10-15 02:51] rodrigobustamante commented on #4
#67 and #72 ready for review!

[2019-10-15 09:21] rubenLozanoMar commented on #4
#78 Ready for review.
- docs/tutorial/part-four/index.md
- docs/docs/global-css.md
- docs/docs/adding-analytics.md
- docs/docs/adding-search.md

[2019-10-15 17:47] xmartinezpujol commented on #4
#84 ready to review :eyes:

Can I take `docs/contributing/submit-to-plugin-library`?

[2019-10-15 20:35] jclopezdev commented on #4
Can I take 'docs/docs/using-fragments.md'? thanks.

[2019-10-15 22:30] horacioh commented on #4
@jclopezdev @xmartinezpujol @rubenLozanoMar @ClauVex @ghost @zombispormedio @JuanJavier1979 @EduardoGHdez @RockLee444 @imagentleman @Nievac @hielfx @nacapulque you are all assigned!!

@enBonnet tienes asignado `seo.md`, no `building-themes` :)

[2019-10-15 22:32] jatempa commented on #4
May I take part-seven @horacioh ?

[2019-10-15 22:32] jatempa commented on #4
May I take part-seven @horacioh ?

[2019-10-15 22:33] jatempa commented on #4
May I take part-seven @horacioh ?

[2019-10-15 22:34] horacioh commented on #4
@jatempa part seven is yours! :)

[2019-10-15 22:39] horacioh commented on #4
## FOR THE RECORD

we are doing our best to keep up with all your amazing work! remember that we all have our fulltime jobs too :)

before you start translating:
- **MAKE SURE WE ASSIGN THE DOC TO YOU**
- we do add a reaction to you comment when that's official (🚀 👍 or something positive)
- ** CREATE ONE SINGLE PR PER FILE**: this help us to keep each file isolated and selfcontained.

apart from t

[2019-10-15 22:44] jorgeruvalcaba commented on #4
@horacioh can I take `docs-contributions.md`?

[2019-10-15 22:46] horacioh commented on #4
@jorgeruvalcaba all yours! ;)

[2019-10-15 23:23] jorgeepc commented on #4
Can I take docs/tutorials/wordpress-image-tutorial.md? Thanks. @horacioh @Darking360

[2019-10-16 00:11] SerotoninaAbad commented on #4
May I take `docs/docs/creating-a-sitemap.md`? @horacioh @Darking360

[2019-10-16 00:28] RockLee444 commented on #4
@horacioh @Darking360 Hey! Do you know where can I find the Home Page file? I couldn't find it.
Thank you!

[2019-10-16 01:25] meyruiz commented on #4
Can I take docs/docs adding-comments.md ? @horacioh

[2019-10-16 02:32] rodrigobustamante commented on #4
Can i take  add-page-metadata.md ? @horacioh @Darking360 @nucliweb

[2019-10-16 05:23] jorgeruvalcaba commented on #4
@jorgeepc @SerotoninaAbad @meyruiz @rodrigobustamante you're all assigned!

[2019-10-16 18:31] MeLlamoPablo commented on #4
Hi! Can I take `tutorial/authentication-tutorial.md`? @horacioh @Darking360 @nucliweb

[2019-10-16 19:05] xmartinezpujol commented on #4
#87 ready here.

I'll wait a bit for more work as I have 2 pending reviews. Good work everyone :clap:

[2019-10-17 00:57] rodrigobustamante commented on #4
I finished #90 !

[2019-10-17 02:29] meyruiz commented on #4
Finished #91. Can I take docs/sass.md ? @horacioh  @Darking360

[2019-10-17 17:33] enBonnet commented on #4
`seo.md` done!

[2019-10-17 17:54] SerotoninaAbad commented on #4
creating-a-sitemap.md done! (Ready for Review PR #94)
May I take creating-a-local-plugin.md? @horacioh @Darking360

[2019-10-17 19:28] horacioh opened #97 "Tutorials Translation Progress"
# 🚨 Please Read this before contributing 🚨

**THIS IS A COPY FROM THE MAIL [TRANSLATION PROGRESS](#4).** In order to organize the work better and have a little more structure, we (the Code Owners) make a decision of stop accepting contributions from all the files but only this ones right now. The other Issue will be there as a reference, but only one section at a time will be _active_.

Thanks and

[2019-10-17 19:57] horacioh commented on #4
# ⚠️ IMPORTANT ANNOUNCEMENT!! ⚠️

In order to organize the work better and have a little more structure, we (the Code Owners) make a decision of stop accepting contributions from all the files but only this ones right now. The other Issue will be there as a reference, but only one section at a time will be active. **In order to continue to the next block of docs, we need to finish the current one*

[2019-10-17 19:57] #4 closed

[2019-10-17 20:08] blackfile commented on #97
working on wordpress-source-plugin-tutorial.md

[2019-10-17 20:19] JuanJavier1979 commented on #97
I am working on `gatsby-image-tutorial`

[2019-10-17 21:21] horacioh commented on #97
## Please let us know what's the current progress on this files!!

 ecommerce-tutorial (@nacapulque) 🏃‍♂️
 gatsby-image-tutorial (@JuanJavier1979) 🏃‍♂️
 part-three (@hielfx) 🏃
 part-four (@rubenLozanoMar) 🏃‍♂️
 part-five (@jackbravo)
 part-six (@jatempa) 🏃
 part-seven (@jatempa) 🏃‍♂️
 building-a-theme.md (@nucliweb) 🏃‍♂️
 prismic-source-graphql-tutorial.md
 theme-tutorials.md (@tairosonloa) 🏃‍♂️

[2019-10-17 21:24] horacioh commented on #97
@RockLee444 de momento no se traduciran las paginas principales :(. nos concentraremos en la documentacion de momento. si quieres puedes pedir alguno de los docs disponibles en esta issue!

[2019-10-17 21:27] horacioh commented on #7
maybe we can close this since we already have the glosary in place?
cc @Darking360

[2019-10-17 22:37] SerotoninaAbad commented on #97
May I take prismic-source-graphql-tutorial.md? @horacioh @Darking360

[2019-10-18 00:13] alvaromontoro commented on #97
Parece que todos están hechos o en proceso. ¿Hay algo con lo que pueda ayudar aparte de estos?

[2019-10-18 00:23] jorgeepc commented on #97
Estoy trabajando en `wordpress-image-tutorial.md`. Para mañana lo tengo listo.

[2019-10-18 01:58] RockLee444 commented on #97
@horacioh Entonces, mientras se libera home... ¿Puedo avanzar con "prismic-source-graphql-tutorial.md"?

[2019-10-18 06:22] rubenLozanoMar commented on #97
Pendiente de revisión la parte 4 del tutorial:
#99

[2019-10-18 08:16] MeLlamoPablo commented on #97
`authentication-tutorial.md` should be :eyes:, not :running_man: -> #88

[2019-10-18 11:36] tairosonloa commented on #97
Los míos ya están @horacioh, subí las dos PR el miércoles. Está una a espera de revisión y en otra he añadido dos modificaciones mínimas que me solicitaron (cambiar un artículo y añadir una coma), pero ya están los documentos completamente traducidos y enviados.

[2019-10-18 15:36] joseglego commented on #97
Hola @horacioh , me gustaría trabajar en:  prismic-source-graphql-tutorial.md 😬 Aún se puede? Creo que es el único que no han tomado!

[2019-10-19 00:09] hielfx commented on #97
@horacioh I was done with tutorial part three

[2019-10-19 17:38] anblave commented on #97
can't find "writing-documentation-with-docz.md" and "gatsby-project-structure.md" is already done in the docs

[2019-10-19 17:45] anblave commented on #97
will you finish "part-five" or can I continue it @jackbravo

[2019-10-19 19:17] anblave opened #101 "[maintainer] anblave & xmartinezpujol"
Razones:
- Puedo ayudar revisando ortografía y gramática con español neutro, además de errores humanos.
- Puedo hacer una primera revisión de la traducción.

PR's
https://github.com/pulls?q=is%3Apr+author%3Aanblave+archived%3Afalse+is%3Aclosed

UPDATE:
tambien nomino a @xmartinezpujol. ha estado ayudando revisando y taggeando PRs. :)

[2019-10-20 00:51] jorgeepc commented on #97
Translation of `docs/tutorial/wordpress-image-tutorial.md` completed. #102

[2019-10-21 13:38] horacioh commented on #97
hola!! contesto a todos aqui:

- @SerotoninaAbad ya lo tienes asignado!, como fuiste la primera en pedirlo te lo he asignado a ti
- @alvaromontoro de momento no lo se, seguro estos los acabaremos de revisar entre hoy y el miercoles, asi que liberaremos otro bloque de docs pronto
- @RockLee444 ya se lo he asignado a @SerotoninaAbad :(. como le dije a Alvaro, pronto liberaremos otro bloque
- @rubenL

[2019-10-21 13:40] horacioh commented on #101
Que les parece @Darking360 @nucliweb @gusma ?

por mi OK!

[2019-10-21 16:36] gusma commented on #101
Por mi Ok! @horacioh

[2019-10-21 21:09] nucliweb commented on #101
Me parece genial! @horacioh

[2019-10-22 10:19] horacioh commented on #101
done! ➡️ #104

cuando puedan @nucliweb @Darking360 :)

[2019-10-22 10:22] horacioh opened #105 "Biblioteca -> Librería"
me suena mejor Librería que Biblioteca...

que les parece @gusma @Darking360 @nucliweb @xmartinezpujol ???

yo me encargaría de cambiar todas las traducciones actuales...

[2019-10-22 12:17] xmartinezpujol commented on #105
Por mi bien, aunque tampoco habría mucho problema ya que ambas opciones son correctas en software al no ser la habitual traducción literal que usamos en el caso de las tiendas de libros.

**Fuente**: https://es.wikipedia.org/wiki/Biblioteca_(inform%C3%A1tica)#Nota_terminol%C3%B3gica

[2019-10-22 14:03] horacioh commented on #105
a ver que dicen los demás! :)

[2019-10-22 16:24] gusma commented on #105
Yo estoy a favor de dejarlo en librería, pero se de quienes prefieren biblioteca.

[2019-10-22 20:27] nucliweb commented on #101
Done!
Welcome @gusma  & @xmartinezpujol

[2019-10-22 20:27] #101 closed

[2019-10-22 20:28] nucliweb commented on #105
También voto por librería 😊

[2019-10-22 23:27] horacioh commented on #105
entonces lo cambio!!

ya lo hago mañana :)

[2019-10-25 07:03] AlejandroRV commented on #97
Hola chicos veo que ya todo esta cubierto en cuanto tengan mas docs disponibles me gustaría colaborar, saludos.

[2019-10-25 07:07] jotagarciaz commented on #97
Lo mismo que @AlejandroRV  llevo ya mirandolo un par de días tras el mensaje de @horacioh

[2019-10-26 01:52] luucamay commented on #97
Tambien estoy dispuesta a ayudar, hay alguna actualizacion @horacioh ?

[2019-10-27 00:28] #105 closed

[2019-10-27 00:41] jose4125 commented on #7
puedo añadir branch a las traducciones comunes? @horacioh @Darking360

[2019-10-28 07:44] xmartinezpujol opened #116 "Docs Progress"
# 🚨 Please Read this before contributing 🚨

## Maintainer List
@Darking360
@horacioh
@nucliweb
@gusma
@xmartinezpujol

## For New Translators

To translate a page:

1. Check that no one else has claimed your page in the checklist and comments below. Do not create new issues claiming for new work please, let's keep everything here. If you already have an issue opened, please close it after your PR

[2019-10-28 07:53] xmartinezpujol commented on #116
We are opening the next section of documents, **Docs**!

Feel free to ask for files to translate. Thanks! 💪

And as always, before you start translating:

* **MAKE SURE WE ASSIGN THE DOC TO YOU**
* we do add a reaction to your comment when that's official (🚀 👍 or something positive)
* **CREATE ONE SINGLE PR PER FILE**: this helps us to keep each file isolated and selfcontained.

If you have doubts

[2019-10-28 13:51] Darking360 commented on #97
Hola @AlejandroRV @jotagarciaz @luucamay muchísimas gracias por el interés, por aquí ya vamos terminando, recién abrimos otro issue con mas docs por traducir, lo pueden encontrar aquí: https://github.com/gatsbyjs/gatsby-es/issues/116, por favor vayan allá, pidan una pagina y empiezan 🚀 💪

[2019-10-28 14:52] jorgeepc commented on #116
Hi! May I take `add-seo-component.md`? @horacioh @Darking360

[2019-10-28 14:53] anblave commented on #116
Can I take "adding-forms.md"?

[2019-10-28 15:44] Darking360 commented on #7
Hola @jose4125 claro! Por favor 🚀

[2019-10-28 16:06] xmartinezpujol commented on #116
@jorgeepc @anblave go for it! 🔥

[2019-10-28 18:15] AlejandroRV commented on #116
Hi! Can I take `html-generation.md`?

[2019-10-28 19:22] zombispormedio commented on #116
Can I take ```styled-components```?

[2019-10-28 19:22] jotagarciaz commented on #116
May I take adding-markdown-pages.md ?

[2019-10-28 19:35] jatempa commented on #116
May I take `building-a-portfolio.md`?

[2019-10-28 19:53] JuanJavier1979 commented on #116
Can I take `sourcing-from-wordpress.md`? @horacioh  @xmartinezpujol

[2019-10-28 20:22] Darking360 commented on #116
Ok, people, @AlejandroRV @zombispormedio @jotagarciaz @jatempa @JuanJavier1979 you got them! I'm assigning them but feel free to start with them 🚀 Thank you ❤️

[2019-10-28 20:52] SerotoninaAbad commented on #97
prismic-source-graphql-tutorial.md It's ready for review #117  @horacioh @Darking360

[2019-10-28 20:57] SerotoninaAbad commented on #116
May I take adding-a-list-of-markdown-blog-posts.md? @Darking360 @horacioh

[2019-10-28 22:46] JuanJavier1979 commented on #116
I am done with `sourcing-from-wordpress.md`
Can I take now this one `sourcing-from-the-filesystem.md`?

[2019-10-29 00:16] anblave commented on #116
Can I take "adding-page-transitions-with-plugin-transition-link.md"?

[2019-10-29 02:37] alvaromontoro commented on #116
May I take `adding-page-transitions.md`?

[2019-10-29 02:52] kararade commented on #116
Can I take the page `adding-pagination.md`? 😉

[2019-10-29 03:24] jorgeepc commented on #116
Translation of `docs/docs/add-seo-component.md` completed. #122
May I take `adding-tags-and-categories-to-blog-posts.md`?

[2019-10-29 04:29] jose4125 commented on #116
Can I take adding-website-functionality.md?

[2019-10-29 06:41] xmartinezpujol commented on #116
@SerotoninaAbad @JuanJavier1979 @anblave @alvaromontoro @kararade @jorgeepc @jose4125 you got them! 👏

[2019-10-29 12:25] JuanJavier1979 commented on #116
As I am done with `sourcing-from-the-filesystem.md`
Can I take now `sourcing-from-sanity.md`?

[2019-10-29 12:30] kararade commented on #116
I've finished with the `adding-pagination.md` page
I would like to start with the `answering-it-security.md` page if is possible 👍

[2019-10-29 14:23] SerotoninaAbad commented on #116
Hey @horacioh  @Darking360. adding-a-list-of-markdown-blog-posts.md it's readay for review in PR #126. May I take adding-search-with-algolia?

[2019-10-29 14:48] devrchancay commented on #116
I will take **schema-customization.md** @horacioh @Darking360

[2019-10-29 16:49] xmartinezpujol commented on #116
@JuanJavier1979 @kararade @SerotoninaAbad @devrchancay @anblave ready to rock and roll! 🔥 🎸🤘

[2019-10-29 17:39] luucamay commented on #116
Hi I would like to work on "building-a-blog.md" can I take it?

[2019-10-29 17:41] jotagarciaz commented on #116
I have already pulled  `adding-markdown-pages.md ` may I take `write-pages.md` meanwhile the other one is checked, edited, and passed?

Also I have a question regarding my pull request how is frontmatter translated into spanish?

[2019-10-29 17:46] anblave commented on #116
Can I take "api-proxy.md"?

[2019-10-29 18:37] kararade commented on #116
hey @horacioh  @Darking360 @xmartinezpujol
I've finished with the `answering-it-security.md` page in the PR https://github.com/gatsbyjs/gatsby-es/pull/130
Can I start with the `browser-support.md`?  😁
thanks!

[2019-10-30 00:05] jclopezdev commented on #116
@horacioh @Darking360 @xmartinezpujol Could I take `quick-start.md`?
I've finished with the `using-fragments.md` page in the PR #123

[2019-10-30 01:37] jorgeepc commented on #116
Translation of `adding-tags-and-categories-to-blog-posts.md` completed #131
May I take `audit-with-lighthouse.md`?

[2019-10-30 02:41] dantehemerson commented on #116
Can I take " best-practices-for-orgs.md"?

[2019-10-30 05:23] alvaromontoro commented on #116
After completing `docs/adding-page-transitions` with the PR #132 (it was a super-short one :/),
may I take `api-specification.md`?

[2019-10-30 10:41] JuanJavier1979 commented on #116
As I am done with `sourcing-from-sanity.md` on PR https://github.com/gatsbyjs/gatsby-es/pull/133
Can I take now `headless-cms.md.md`?

[2019-10-30 15:16] xmartinezpujol commented on #116
@luucamay @jotagarciaz @anblave @kararade @jclopezdev @jorgeepc @dantehemerson @alvaromontoro @JuanJavier1979 all ready! 🚀

@jotagarciaz, leave frontmatter in cursive (_frontmatter_) if it's not a clear translation. Front matter in books is normally the part that comes before the actual content (contenido preliminar), showing data like title, authors, edition, etc.

[2019-10-30 16:36] JuanJavier1979 commented on #116
I am done with `headless-cms.md` on https://github.com/gatsbyjs/gatsby-es/pull/134
It was a pretty short/quick one.

Can I take this one now `building-with-components.md`? It's is a longer one :-)

[2019-10-30 18:22] SerotoninaAbad commented on #116
Hey @horacioh @Darking360! adding-search-with-algolia it's ready for review in PR #135

[2019-10-30 19:30] jotagarciaz commented on #116
I am done with `adding-markdown-pages.md` #128 , starting with `write-pages.md`

[2019-10-30 19:39] SerotoninaAbad commented on #116
May I take building-a-contact-form.md?

[2019-10-30 21:06] kinduff commented on #116
Can I take `gatsby-on-linux.md`?

[2019-10-30 21:28] ManudeQuevedo commented on #97
Hi! I would like to help to translate **additional-tutorials.md** @horacioh @Darking360  @nucliweb if there are more I could gladly also help with more translations.

[2019-10-30 22:43] spaceinvadev commented on #116
Hi. I would like to contribute by translating `css-modules.md`.

[2019-10-31 09:30] xmartinezpujol commented on #116
@JuanJavier1979 @SerotoninaAbad @kinduff @spaceinvadev everything ready! 🔥

Thanks everyone, you are awesome! 💯

[2019-10-31 09:54] kinduff commented on #116
@xmartinezpujol Done!

Can I take `api-reference.md` (very small one) and `asset-prefix.md`?

[2019-10-31 11:23] horacioh opened #142 "Spanish Translation Progress"
## For New Translators

To translate a page:

1. Check that no one else has claimed your page in the checklist and comments below.
2. Comment below with the name of the page you would like to translate. **Please take only one page at a time**.
3. Clone this repo, translate your page, and submit a pull request!

Before contributing, please read the [translation guide](https://www.gatsbyjs.org/contr

[2019-10-31 16:59] pastenes commented on #116
First time contributing, ever, so I'll start small. Can I take cheat-sheet.md?

[2019-10-31 17:16] jotagarciaz commented on #116
I´m finished with #143  @nucliweb @xmartinezpujol

[2019-10-31 17:20] jotagarciaz commented on #116
May I take `testing.md` and `testing-react-components` ? they are short, so perfect to be done during my weekend 😄

[2019-10-31 19:39] kararade commented on #116
hey @horacioh  @Darking360  @xmartinezpujol
I've finished with the `browser-support.md` page in the PR https://github.com/gatsbyjs/gatsby-es/pull/144
Can I start with the `creating-a-local-plugin.md`, `creating-global-styles.md` and `creating-plugins.md` pages as they are smalls ones? 😁 I can have it done by this night 👍
thanks!

[2019-10-31 21:04] connorlindsey commented on #97
Puedo traducir la pagina writing-documentation-with-docz.md @horacioh.

[2019-10-31 21:35] jorgeepc commented on #116
Translation of `docs/docs/audit-with-lighthouse.md` completed #145

[2019-11-01 09:59] xmartinezpujol commented on #116
Next assignations done, thank you! 👏 You rock!  🔥

[2019-11-01 12:52] spaceinvadev commented on #116
Translation of `docs/docs/css-modules.md` completed [#150](https://github.com/gatsbyjs/gatsby-es/pull/150). Can I work on `sass.md`, `post-css.md`, and `building a blog.md`?

[2019-11-01 13:24] jclopezdev commented on #116
@horacioh @Darking360 @xmartinezpujol Could I take theme-api.md?

[2019-11-01 16:43] anblave commented on #97
@connorlindsey it's already translated I think

[2019-11-01 16:48] connorlindsey commented on #97
@anblave Oh, thanks for catching that. I was a little confused based on which ones had checkmarks, a contributor name, and a 🎉

[2019-11-01 16:51] Darking360 commented on #97
Hey! Sorry pretty much all is taken, but you can find more to work in this issue: https://github.com/gatsbyjs/gatsby-es/issues/116 🚀

[2019-11-01 16:53] connorlindsey commented on #116
@horacioh I can take building-an-e-commerce-site.md

[2019-11-01 16:55] dantehemerson commented on #116
Can I take `deploying-and-hosting.md` and `gatsby-for-agencies`, both are small?

[2019-11-01 17:10] ManudeQuevedo commented on #116
Hello, I can help with these translations:

deploying-and-hosting.md
deploying-to-aws-amplify.md
deploying-to-netlify.md
deploying-to-zeit-now.md

@horacioh  @Darking360

[2019-11-01 17:53] zombispormedio commented on #116
Can I take ```theme-ui.md```?

[2019-11-01 18:08] jorgeruvalcaba commented on #142
Can I take docs/recipes?

[2019-11-01 20:08] pastenes commented on #116
Translation of docs/docs/cheat-sheet.md completed.  https://github.com/gatsbyjs/gatsby-es/pull/151

Can I take adding-search.md?

[2019-11-02 09:03] xmartinezpujol commented on #116
Ok to sass & post-css, but not `building-a-blog.md`, it's a stub.

[2019-11-02 09:07] xmartinezpujol commented on #116
Sorry, it's a stub. Can you take another file that could help us progress with the translation? 🙏
Thank you!

[2019-11-02 09:13] xmartinezpujol commented on #116
Ok, but not  `deploying-and-hosting.md`, it's already taken. Thanks! 💪

[2019-11-02 15:09] pastenes commented on #116
Can I take client-data-fetching.md?

[2019-11-02 18:41] anblave commented on #116
Hi, I found this:
"add-a-manifest-file.md" **is checked but is not in Spanish**
"adding-an-rss-feed.md" **is checked but is not in Spanish**
"add-page-metadata.md" **is already in Spanish**
"adding-analytics.md" **is checked but is not in Spanish**
"adding-search-with-elasticlunr.md" is stub
"babel.md" **is checked but is not in Spanish**
basic-hardware-software-requirements.md is stub
"best-pract

[2019-11-02 20:29] alvaromontoro commented on #7
Sé que puede ser un cambio algo _trivial_, pero la tabla de traducciones comunes no está ordenada alfabéticamente. ¿Está bien si después de terminar la traducción que tengo asignada la pongo en orden A-Z?

[2019-11-03 00:16] alvaromontoro commented on #116
Completed `api-specification.md` as part of PR #153

May I take `creating-prefixed-404-pages-for-different-languages.md`?

[2019-11-03 10:19] xmartinezpujol commented on #116
@pastenes @alvaromontoro all ready! 🔥

@anblave Thanks for reporting the stubs!
The ones that you reported as `is checked but is not in Spanish` are already in spanish, maybe you need to sync your repo with master (_git pull_). 🤔

[2019-11-03 18:17] jotagarciaz commented on #116
here it is `testing.md` #157 .

[2019-11-03 19:30] jotagarciaz commented on #116
I have finished `testing-react-components.md` #158.  May I translate `working-with-images.md` ? . Also, since that now I am a member of Gatsbyjs could I assign docs to translate to myself?

[2019-11-03 19:31] horaleon1 commented on #116
Hello guys, can I take styling.md??

[2019-11-04 00:48] gusma commented on #116
@jotagarciaz You could, but please doublecheck that you keep up with standards (one at a time, and that it doesn't clash with anyone else working on the same document). Approval and/or merge of these documents will continue as usual.

[2019-11-04 00:50] gusma commented on #116
Self-assigned `conceptual-guide.md`.

[2019-11-04 05:10] pastenes commented on #116
Translation of /docs/docs/client-data-fetching.md completed. https://github.com/gatsbyjs/gatsby-es/pull/163.

Can I take client-only-routes-and-user-authentication.md?

[2019-11-04 07:38] jotagarciaz commented on #116
thank you, I will do it like that.

[2019-11-05 14:17] YeisonTapia commented on #116
Hi! Can I take routing.md?
@horacioh

[2019-11-05 19:52] ginoemiliozzi commented on #116
Hi! Can I take caching.md?

[2019-11-05 20:02] dantehemerson commented on #116
Can i take `winning-over-clients.md` and `what-is-a-plugin.md`?, both are small.

[2019-11-06 16:46] YeisonTapia commented on #116
Can I take  v1-release-notes.md and v2-release-notes.md, These are too small.

[2019-11-08 00:01] agarcia-caicedo commented on #116
Can I take `unit-testing.md`?

[2019-11-08 00:11] jorgeepc commented on #116
`adding-tags-and-categories-to-blog-posts.md` and `audit-with-lighthouse.md` are already merged. It will be great to change their status to done.

May I take `graphql-concepts.md`?

[2019-11-11 02:02] dantehemerson commented on #116
Can I take `customization.md` and `performance.md`?

[2019-11-11 18:01] YeisonTapia commented on #116
My last PR has been acepted,

Can I take v1-release-notes.md and v2-release-notes.md, These are too small.

Or can I self-assign these files?

[2019-11-12 04:47] florantara opened #178 "[maintainer] Flor Antara"
Hola, chicos!

Me gustaría ayudar con el esfuerzo de traducción al español de la documentación de Gatsby.

Soy de Argentina, pero puedo escribir en español neutro. También puedo ayudar revisando!

Mi único [PR en Gatsby](https://github.com/gatsbyjs/gatsby/pulls?utf8=%E2%9C%93&q=+is%3Apr+author%3Aflorantara+) es para la doc en inglés, así que espero poder colaborar con mi idioma nativo ❤️.

[2019-11-12 16:28] jatempa commented on #116
Can I take gatsby-cli.md?

[2019-11-13 18:13] KiranAkadas commented on #116
Can I take what-you-dont-need-plugins-for.md

[2019-11-15 13:57] jotagarciaz commented on #116
Hi!
`working-with-images.md` is complete now in PR #181 ,sorry for the delay this weeks are full of homework for the University.

i'm self-assigning me `working-with-images-in-markdown.md`

Also with your permission I'm assigning translations to the people that requested new ones.

[2019-11-15 14:05] jotagarciaz commented on #116
@KiranAkadas , @jatempa , @YeisonTapia you have been assigned to translate your requested docs.

Keep watching this, just in case could be any problem from the moderators for this assignations.

[2019-11-17 13:26] jotagarciaz commented on #116
I´ve changed the state of `v1-release-notes.md` and `v2-reales-notes.md` to done since I have seen the Merge from @YeisonTapia  PR .

[2019-11-18 06:34] pastenes commented on #116
Hi! Translation of /docs/docs/client-only-routes-and-user-authentication.md completed. https://github.com/gatsbyjs/gatsby-es/pull/185

I self-assigned component-libraries.md

[2019-11-18 16:01] YeisonTapia commented on #116
Hi, I have my last PR #184 , merged, I'm going to assign **content-and-data.md**

[2019-11-26 21:05] Darking360 commented on #178
Hola @florantara que tal? Disculpa la tardanza en contestar. Lo podemos hablar con los otros mantenedores y te avisamos, aunque siempre es bueno tener mas personas pendientes y ayudando por supuesto 🚀  Muchas gracias por el interés en ayudar a las traducciones ❤️

[2019-11-26 21:56] YeisonTapia commented on #116
My last PR has been approved, #186
I will take customization.md

[2019-11-27 01:30] spaceinvadev commented on #116
Hi, all. My contributions have already been merged. May I take `typography-js.md` and `going-gatsby-only.md`? @xmartinezpujol @horacioh @jotagarciaz @Darking360

[2019-11-27 03:01] zeecnla commented on #116
Hey everyone, can I take sourcing-from-contentful.md?

[2019-11-27 18:51] Darking360 commented on #116
Greetings @spaceinvadev and @zeecnla sure! You have what you requested, start working on those :rocket:

[2019-11-28 22:39] YeisonTapia commented on #116
My last PR has been approved, #187
I will take images-and-files.md

[2019-11-29 01:09] florantara commented on #178
Ningún problema, @Darking360 !

A su disposición cuando quieran!

[2019-11-29 12:30] jotagarciaz commented on #116
working-with-images-in-markdown.md is ready for review in PR #189 .

@YeisonTapia the next time I would be even better if you can add the parenthesis and the icon in the document assigned, I think that it is easier for the maintainers in that way. :grinning:

[2019-11-29 13:34] YeisonTapia commented on #116
Yes, thankyou

[2019-11-29 21:13] spaceinvadev commented on #116
I just translated the `going-gatsby-only.md` and `typography-js.md` documentation files and submitted the respective PRs: [#190](https://github.com/gatsbyjs/gatsby-es/pull/190) and [#191](https://github.com/gatsbyjs/gatsby-es/pull/191).

[2019-11-29 21:30] spaceinvadev commented on #116
Working on `tailwind-css.md`

[2019-11-29 21:50] zeecnla commented on #116
I finished translating the `sourcing-from-contentful.md` and submitted a PR: #188 .

working on `sourcing-from-netlify-cms.md`

[2019-11-29 22:05] spaceinvadev commented on #116
I completed translation of the `tailwind-css.md` file and submitted its respective PR: [#192](https://github.com/gatsbyjs/gatsby-es/pull/192)

[2019-11-29 22:10] spaceinvadev commented on #116
I'll take `how-code-splitting-works`, `how-gatsby-boosts-career.md`, and `how-gatsby-works-with-github-pages.md`.

[2019-11-29 22:16] YeisonTapia commented on #116
@spaceinvadev
Hello,  I recommend and according to the [contribution guide] (https://github.com/gatsbyjs/gatsby-es/blob/master/CONTRIBUTING.MD), to maintain order you must request the document and wait for that one of the maintainers assigned it to you.

[2019-11-29 22:20] YeisonTapia commented on #116
Sorry, I closed it by accident, I hope it's not a bother.
It is already open. 😔

[2019-11-30 18:32] dantehemerson commented on #116
Can I take `prpl-pattern.md` and `importing-media-content.md`?

[2019-12-02 02:34] pastenes commented on #116
Hola! Translation of /docs/docs/component-libraries.md completed. https://github.com/gatsbyjs/gatsby-es/pull/194

I self-assigned creating-and-modifying-pages.md

Have an awesome week all!

[2019-12-02 09:35] erikbg7 commented on #142
Hi! --> **docs/gatsby-cli**

[2019-12-12 17:59] gilbertoayala12 commented on #116
Hi everyone, can I take `deploying-to-gitlab-pages.md`?

[2019-12-13 20:23] spaceinvadev commented on #116
Hi.
Translation of the docs _how-code-splitting-works.md_ (#198), and _how-gatsby-works-with-github-pages.md_ (#196) are complete.

[2019-12-16 20:47] anblave commented on #116
Hi!
Can I take "creating-slugs-for-pages"?
Thanks

PD: "api-proxy.md" is already merged.

[2019-12-17 16:57] YeisonTapia commented on #116
Hello, I take localization-i18n.md

[2019-12-24 17:06] Darking360 commented on #116
Hey people! Hope you're having great holidays. Just to let you know due to the current dates and we're probably celebrating with our families, most of the maintainers and people are away from Github, so don't give yourself a hard time, you can go back to translations at the beginnings of January :heart: Hope y'all are enjoying, so merry Christmas and happy new year when it comes :rocket:

[2019-12-25 02:37] alotama commented on #116
Hey guys, can I take `use-static-query.md`?

[2020-01-03 02:52] remediosaraya commented on #97
Hola a todos como puedo colaborar? veo que casi todo esta tomado. Gracias

[2020-01-03 10:32] nutboltu commented on #4
@horacioh In order to get the actual percentage of finish work for http://is-gatsby-translated-yet.netlify.com, I am going to change the Title of this closed issue. Hope it won't affect a lot in your translation journey. :)

[2020-01-03 14:40] Darking360 commented on #97
Hey everyone! I see 3 items left to finish the initial batch of translations, the users with those assigned are: @nacapulque, @nucliweb, and @blackfile. What are your progress on the files? If you can't finish them let us know to finish them and ping the Gatsby team to publish or next steps on translations pretty please 🙏  Thank you!

@remediosaraya Let's wait for their response, if any file is fr

[2020-01-07 18:52] ivandevp commented on #116
Hey guys! I hope you enjoyed your holidays! I would like to take `debugging-async-lifecycles.md` if possible.

[2020-01-20 03:08] remediosaraya commented on #97
@Darking360 any update on the status??

[2020-01-20 03:22] remediosaraya commented on #116
Hi,can i take layout-components.md? Thanks

[2020-01-20 14:09] Darking360 commented on #116
Greetings @remediosaraya sure! Please 🚀

[2020-01-20 14:12] Darking360 commented on #97
Greetings @remediosaraya due to inactivity we're going to put again these pages free to translate:

- ecommerce-tutorial.md
- building-a-theme.md
- wordpress-source-plugin-tutorial.md

Please feel free to pick the one you want to translate 💪 Thank you 👍

[2020-01-21 02:59] coyr commented on #97
Hello @Darking360 I would like to translate building-a-theme.md, is it ok?

[2020-01-21 15:29] remediosaraya commented on #97
@Darking360 i will translate `wordpress-source-plugin-tutorial.md`

[2020-01-21 16:32] Darking360 commented on #97
@coyr @remediosaraya You got them, go for it :rocket:

[2020-01-22 06:41] pastenes commented on #116
Translation of /docs/docs/creating-and-modifying-pages.md completed. https://github.com/gatsbyjs/gatsby-es/pull/203

Self-assigned creating-slugs-for-pages 🏃

[2020-01-27 05:38] pastenes commented on #116
Translation of  /docs/docs/creating-slugs-for-pages completed. https://github.com/gatsbyjs/gatsby-es/pull/204

Self-assigned customization and debugging-async-lifecycles

[2020-01-27 15:39] Darking360 commented on #116
Cool @pastenes 🔥 So sorry y'all for timing on reviews, I'm prioritizing older PRs until the most recent ones so please be patient 🙏

[2020-01-28 20:22] nacapulque commented on #97
@Darking360 I'm working on this one ecommerce-tutorial.md and it's almost finished. Sorry for the late response!

[2020-02-13 02:39] Diegoavilap commented on #116
Hi, everybody! I would like to take `babel.md`  😀

[2020-02-13 13:32] Darking360 commented on #116
You got it @Diegoavilap 🚀

[2020-02-18 04:14] pastenes commented on #116
Translation of /docs/docs/customization completed. https://github.com/gatsbyjs/gatsby-es/pull/207

[2020-02-18 04:29] pastenes commented on #116
Me equivoque y edite este doc en vez the "debugging-async-lifecycles". Por lo que me asigne este (debugging-cache-issues) y lo complete. https://github.com/gatsbyjs/gatsby-es/pull/208

El siguiente sera "debugging-async-lifecycles" 😁

[2020-02-22 20:38] Diegoavilap commented on #116
Hi, I would like to take deploying-to-aerobatic.md

[2020-02-24 06:35] pastenes commented on #116
Translation of /docs/docs/debugging-async-lifecycles completed. https://github.com/gatsbyjs/gatsby-es/pull/211

Self assigned debugging-html-builds

[2020-02-24 15:47] noisefilter19 commented on #116
Taking up glamor.md

[2020-02-29 22:08] spaceinvadev commented on #116
The following docs have already been translated:
- typography.js (#191),
- how-gatsby-works-with-github-pages (#196),
- how-code-splitting-works (#198).

[2020-03-01 00:12] alotama commented on #116
Hey guys, can I take `use-static-query.md`?

[2020-03-02 13:47] Darking360 commented on #116
Greetings everyone. Quick update about the status of translations, I'm pulling a huge update PR right now so please wait for your reviews while I'm finishing that since it's the priority and that could affect your current work on a page.

@alotama You got it, go for it 💪

[2020-03-04 04:26] alotama commented on #116
The translation of `use-static-query.md` (#214) has been finished.

Can I take on `debugging-the-build-process.md` while the first is in review?

[2020-03-05 16:27] anamafla commented on #116
Can I take `making-your-site-accessible.md`?

[2020-03-10 04:08] sebastianwd commented on #116
Hi, I'd like to take  `sourcing-from-graphcms.md`

[2020-04-19 17:52] palehox commented on #116
Hi, can I take `configuring-ca-certificates.md`?

[2020-04-20 13:38] Darking360 commented on #116
Greetings everyone. We're working on update sync PRs to the repository and organize the efforts, but you can continue translating, as usual, code reviews are taking longer than expected due to syncs and organization but please be patient.

@palehox please go ahead with it :rocket:

[2020-06-27 01:12] natastro commented on #116
Hello! Can I take `winning-over-stakeholders.md`?
Have a good weekend!

[2020-06-29 21:57] Darking360 commented on #116
Greetings @stroudn1! Sure, go ahead :pray:

[2020-07-05 18:29] sebastianwd commented on #116
I'd like to take `sourcing-from-graphcms.md` @Darking360

[2020-07-28 18:14] noisefilter19 commented on #116
Hello, i'll take up sourcing-from-databases.md

[2020-08-12 18:24] AndreaMelendez commented on #97
Hola @horacioh, @Darking360, @gusma, @nucliweb, @xmartinezpujol, podrían por favor informarme si aun puedo colaborar en alguno de estos archivos? No se si falta alguno o todos ya fueron tomados por la comunidad.

[2020-09-05 16:21] JoseDeFreitas commented on #116
Hello. I'd like to take the file `telemetry.md`. Thank you in advance ✌.

[2020-09-05 16:33] JoseDeFreitas commented on #116
Hello. I'd like to take the file `telemetry.md`. Thank you in advance ✌. @nucliweb

[2020-10-14 05:08] akawolfcito commented on #97
Hola  @Darking360 @horacioh @nucliweb @gusma @xmartinezpujol he estado utilizando este framework y me gustaría colaborar!

[2020-10-21 20:36] davidmartinezfl commented on #97
Me gustaría traducir ecommerce-tutorial @Darking360 @horacioh @nucliweb @gusma @xmartinezpujol, veo que ya tienen tiempo con ese y aún no sale. Espero su respuesta, gracias. 👍
@nacapulque

[2020-10-27 20:23] rpalaciosg commented on #116
Hi, friends @horacioh  @darking360  @nucliweb @gusma @xmartinezpujol.  can I take the `local-https.md`?

[2021-02-04 21:05] Daniellop1 commented on #97
@horacioh Hola, me gustaría traducir cualquier página en la que sea necesaria mi aportación.

Un saludo.

[2021-02-04 21:10] Daniellop1 opened #233 "[maintainer] @Daniellop1"
Hola, soy Daniel Lopez y me gustaría contribuir a este proyecto siendo mantenedor; Puedo hablar inglés, francés y español; Tengo experiencia en moderación de comunidades y también sé programar; he contribuido en varios proyectos de open-source en el que se incluye gastby, también destaco que he promocionado de manera activa este proyecto.

De esta manera quedo a su disposición y espero su respuest

[2021-12-30 08:12] ashwinihipparge opened #270 "Documentary"

[2022-04-01 17:41] iamrahulmahato commented on #7
@Darking360 can we translate to other languages like hindi so other people can understand it